{% if request.page_type == 'cart' %}
    <a
     href="{{ routes.cart_url }}"
     class="header__icon header__icon--cart link focus-inset"
     id="cart-icon-bubble"
    >

{% else %}

    <a
     role="button"
     aria-controls="cart-drawer"
     data-bs-toggle="offcanvas"
     href="#cart-drawer"
     class="header__icon header__icon--cart link focus-inset"
     id="cart-icon-bubble"
    >

{% endif %}

    {% liquid 
        if cart == empty
            render 'icon-cart-empty'
            else    
            render 'icon-cart'
        endif
        %}
        <span class="visually-hidden">
            {{ template.cart.cart | t }}
        </span>
        <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
  </a>        