
    <div class="page-width custom-blog-list">
        {% if section.settings.section_heading %}
            
        <div class="title-wrapper">
            <h2>{{ section.settings.section_heading }}</h2>
        </div>
        
        {% endif %}
      

        <div class="grid grid--3-col-desktop grid--1-col grid--2-col-tablet">
        {% assign i = 0 %}
            {% for post in blog.articles %}

            {% unless i>4 or post.id == article.id %}
            <div class="grid__item custom-card" >
            {% render 'dm-article-card' , article: post %}
            </div>
            {% endunless %}
            
            {% endfor %}
        </div>
   

       
    </div>



{% schema %}
{
    "name":"Related Blog list",
    "class":"section",
    "settings":[
        {
            "type":"text",
            "id":"section_heading",
            "label": "Section Heading",
            "default":"Related Blogs"
        }
     
    ],
    "presets":[
        {
            "name":"Related Blog list"
        }
    ]
}
{% endschema %}