/* dm global css */
.p-0{
  padding: 0;
}
.line-clamp-1{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.line-clamp-3{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.grid-row-reverse{
  flex-direction: row-reverse;
}
.align-start{
  align-items: flex-start;
}
.align-center{
  align-items: center;
}
.align-end{
  align-items: flex-end;
}
.justify-start{
  justify-content: flex-start;
}
.justify-center{
  justify-content: center;
}
.justify-end{
  justify-content: flex-end;
}
.justify-between{
  justify-content: space-between;
}

.custom-card{
  width: 100%;
                
  cursor: pointer;
  text-decoration: none;
  box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px 0px;
  display: block;
  text-decoration: none;
  color: inherit;
}
.custom-card__info{
  padding: 2rem;
  margin: 0;
}
.mt-1{
  margin-top: 1rem;
}
.mt-10{
  margin-top: 10px;
}

.font-white{
  color: #fff;
}

.dm-custom-banner-wrapper{
    
  position: relative;


}
.dm-custom-image--flex{
height:100%;
display: flex;

}

.dm-custom-image--image{
width:100%;
height:100%;
object-fit:cover;
}

img{
    max-width: 100%;
    height: auto;
  }
/* dm-collection-list start */

.custom-collection-list__card{


    height: 100%;
    display: block;
    color: inherit;
    box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px 0px;
    

}
.custom-collection-list__card a{
  text-decoration: none;  

}
.custom-collection-list__card--info{
 padding: 1.8rem;

}

.custom-collection-list__card-info p{
margin: 6px 0 0 0;
}

.grid__item a{
    text-decoration: none;
    color: inherit;
}

@media only screen and (min-width:750px){
    body{
        font-size: 1.75rem;
    }
}
/* dm-collection-list end */

/* dm-richtext-list start*/
.custom-richtext__button{
    margin-top: 2.5rem;
}
  .custom-richtext__caption,.custom-richtext__heading{
    margin-top: 20px;

  }
/* dm-richtext-list end*/

/* image with text start */
   
    .image-text__textwrap{
      padding: 30px 0 0;
    }
    .image-text__heading{
      margin: 0;
    }
    
    .image-text__paragraph{
      margin-bottom: 25px;
    }

    .grid__item--line-height-0{
line-height: 0;
    }
    .image-with-text--grid__item{
        display: inline-flex;
       
        align-items: center;
       
    }

    .bx-0{
      box-shadow: none !important;
    }
    
    @media only screen and (min-width:750px) {
    
     
      .image-text--right{
        flex-direction: row-reverse;
      }
      .image-text__textwrap{ 
      
        padding: 0 50px;
      }
      .grid__item--line-height-0{
        line-height: 0;
            }
      
    }
    
/* image with text end */

/* image with text overlay start */
/* CUSTOM IMAGE OVERLAY */

.image-overlay__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image-overlay__content > * {
  height: 100%;
}
.image-overlay__flex {
  display: flex;
  padding: 2rem;
  height: 100%;
}
.image-overlay__flexitem {
  max-width: 500px;
}
/* -----------NewsLetter starts--------- */
.check-box__caption{
  margin: 2rem 0;
}
.news-bg-color{
  background-color: #F8F7F5;
}
.custom-newsletter{
  padding: 2.5rem 0;
}
.newsletter{
max-width: 60rem;

}
/* -----------NewsLetter ends--------- */
/* ------------BLOG LIST start ------------- */

.blog__excerpt{
  /* margin: 10px 0; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  /* line-height: 1.3;
  font-size: 12px; */
}
.blog__title{
  margin: 0;
  line-height: 1.32;
}

/* ------------BLOG LIST end------------- */


/* PRODUCT CARD CUSTOM CSS  START */


/*------------------------------------------  
 * PRODUCT CARDS
 -----------------------------------------*/
 .mt-10 {
  margin-top: 10px;
}
.product-card {
  margin-bottom: 2.5rem;
}
.product-card__badges {
  top: 0.8rem;
  left: 0.5rem;
}
.product-card__info {
  padding-top: 1.2rem;
}
.product-card__title {
  color: #000000;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical;
  text-decoration: none;
}
.product-card__price.on-sale {
  color: #dc0000; 
}
.product-card__compareprice {
  color: #8b8b8b;
  margin-left: 10px;
  text-decoration: line-through;  
}
.product-card__action .button {
  width: 100%;
}
.product-card__meta.is--hidden {
  opacity: 0;
  visibility: hidden;
}

/* PRODUCT CARD CUSTOM CSS END */


/* testing */
.product-card-loop-item{
  width: 33.33%;
  padding: 0 5px;
  margin-top: 2rem;
}
.product-product-card {
  position: relative;
  height: fit-content;

}
.product-card-image {
  display: block;
  position: relative;
  background: #f1f1f1;
  padding-bottom: 100%;
}
.product-card-image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-fit: cover;
  object-position: center;
  object-position: center;
  transition: all .3s ease;
  border-radius: 5px 5px 5px 0;
}
.product-card-info {
  padding-top: 1rem;
}
.product-card-info a{
  text-decoration: none;
  color: #000000;

}

.product-card-title{

  
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-decoration: none;
  color: #000;

}


.product-price-sale {
  color: #000;
  font-weight: bold;
}
.product-percent-discount{
  margin: 10px;
  color: #dc0000;
}
.product-price-compare {
  opacity: 0.6;
  padding-left: 0.5rem;
  text-decoration: line-through;  
}
.product-price-regular{
  color: #1b1b1b;

}
.product-button{
width: 100%;

}  
.product-card-item{
transform: scale(1.0);
transition: 0.4s all ease-in-out;
}
.product-card-item:hover img{
transform: scale(1.05);
}

@media only screen and (max-width:750px) {

.product-card-loop-item{


width: 50%;


}


}

.absolute{
  position: absolute;
}

/* blog */

.blog-list_card--info{
  padding: 1.8rem;
}

/* notify bar  */

.notify-bar{
  color: #fff;
  margin-top: -10px;

  background-color: #212a2f;
  padding: 10px 5px
}
.notify-bar a{
  color: #fff;
}
.notify-bar p{
  margin-block-start: 0;
  margin-block-end: 0;

}
.image-overlay__buttons{
  /* margin-bottom: 50px; */
  width: 304px;
  max-width: 100%;
}